/* Basic Resets and Typography Settings */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* General Layout for the Chat Application */

